@page "/mechanics/details"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "SuperAdmin,Admin")]
@using Microsoft.EntityFrameworkCore
@using BikePOS.Models
@inject IDbContextFactory<BikePOS.Data.BikePosContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>@L.Mechanics_Details</PageTitle>

<h1>@L.Common_Details</h1>

<div>
    <h2>@L.Mechanics_Entity</h2>
    <hr />
    @if (mechanic is null)
    {
        <p><em>@L.Common_Loading</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">@L.Common_Name</dt>
            <dd class="col-sm-10">@mechanic.Name</dd>
            <dt class="col-sm-2">@L.Common_Phone</dt>
            <dd class="col-sm-10">@mechanic.Phone</dd>
            <dt class="col-sm-2">@L.Common_Email</dt>
            <dd class="col-sm-10">@mechanic.Email</dd>
            <dt class="col-sm-2">@L.Common_IsActive</dt>
            <dd class="col-sm-10">@mechanic.IsActive</dd>
        </dl>
        <div>
            <a href="@($"/mechanics/edit?id={mechanic.Id}")">@L.Common_Edit</a> |
            <a href="@($"/mechanics")">@L.Common_BackToList</a>
        </div>
    }
</div>

@code {
    [CascadingParameter] public Text L { get; set; } = default!;
    private Mechanic? mechanic;

    [SupplyParameterFromQuery]
    private string Id { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        mechanic = await context.Mechanic.FirstOrDefaultAsync(m => m.Id == Id);

        if (mechanic is null)
        {
            NavigationManager.NotFound();
        }
    }
}
