@page "/mechanics/details"
@using Microsoft.EntityFrameworkCore
@using BikePOS.Models
@inject IDbContextFactory<BikePOS.Data.BikePosContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Mechanic</h2>
    <hr />
    @if (mechanic is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@mechanic.Name</dd>
            <dt class="col-sm-2">Phone</dt>
            <dd class="col-sm-10">@mechanic.Phone</dd>
            <dt class="col-sm-2">Email</dt>
            <dd class="col-sm-10">@mechanic.Email</dd>
            <dt class="col-sm-2">IsActive</dt>
            <dd class="col-sm-10">@mechanic.IsActive</dd>
        </dl>
        <div>
            <a href="@($"/mechanics/edit?id={mechanic.Id}")">Edit</a> |
            <a href="@($"/mechanics")">Back to List</a>
        </div>
    }
</div>

@code {
    private Mechanic? mechanic;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        mechanic = await context.Mechanic.FirstOrDefaultAsync(m => m.Id == Id);

        if (mechanic is null)
        {
            NavigationManager.NotFound();
        }
    }
}
