@page "/services/delete"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "SuperAdmin,Admin")]
@using BikePOS.Models
@using BikePOS.Application.Commands
@using BikePOS.Application.Queries
@inject GetServiceByIdQueryHandler GetService
@inject DeleteServiceCommandHandler DeleteHandler
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Service</h2>
    <hr />
    @if (service is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@service.Name</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@service.Description</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DefaultPrice</dt>
            <dd class="col-sm-10">@service.DefaultPrice</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">EstimatedMinutes</dt>
            <dd class="col-sm-10">@service.EstimatedMinutes</dd>
        </dl>
        <EditForm method="post" Model="service" OnValidSubmit="DeleteService" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(service is null)">Delete</button> |
            <a href="/services">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Service? service;

    [SupplyParameterFromQuery]
    private string Id { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        service = await GetService.HandleAsync(Id);
        if (service is null) NavigationManager.NotFound();
    }

    private async Task DeleteService()
    {
        await DeleteHandler.HandleAsync(new DeleteServiceRequest(service!.Id));
        NavigationManager.NavigateTo("/services");
    }
}
