@page "/services/details"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "SuperAdmin,Admin")]
@using BikePOS.Models
@using BikePOS.Application.Queries
@inject GetServiceByIdQueryHandler GetService
@inject NavigationManager NavigationManager

<PageTitle>@L.Services_Details</PageTitle>

<h1>@L.Common_Details</h1>

<div>
    <h2>@L.Services_Entity</h2>
    <hr />
    @if (service is null)
    {
        <p><em>@L.Common_Loading</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@service.Name</dd>
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@service.Description</dd>
            <dt class="col-sm-2">DefaultPrice</dt>
            <dd class="col-sm-10">@service.DefaultPrice</dd>
            <dt class="col-sm-2">EstimatedMinutes</dt>
            <dd class="col-sm-10">@service.EstimatedMinutes</dd>
        </dl>
        <div>
            <a href="@($"/services/edit?id={service.Id}")">Edit</a> |
            <a href="@($"/services")">Back to List</a>
        </div>
    }
</div>

@code {
    [CascadingParameter] public Text L { get; set; } = default!;
    private Service? service;

    [SupplyParameterFromQuery]
    private string Id { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        service = await GetService.HandleAsync(Id);
        if (service is null) NavigationManager.NotFound();
    }
}
