@page "/services"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "SuperAdmin,Admin")]
@using Microsoft.AspNetCore.Components.QuickGrid
@using BikePOS.Models
@using BikePOS.Application.Queries
@inject ListServicesQueryHandler ListServices
@inject NavigationManager NavigationManager

<PageTitle>@L.Services_Title</PageTitle>

<h1>@L.Services_Title</h1>

<p>
    <a href="services/create">@L.Common_CreateNew</a>
</p>

<QuickGrid Class="table" Items="services.AsQueryable()">
    <PropertyColumn Property="service => service.Name" />
    <PropertyColumn Property="service => service.Description" />
    <PropertyColumn Property="service => service.DefaultPrice" />
    <PropertyColumn Property="service => service.EstimatedMinutes" />

    <TemplateColumn Context="service">
        <a href="@($"services/edit?id={service.Id}")">@L.Common_Edit</a> |
        <a href="@($"services/details?id={service.Id}")">@L.Common_Details</a> |
        <a href="@($"services/delete?id={service.Id}")">@L.Common_Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    [CascadingParameter] public Text L { get; set; } = default!;

    private List<Service> services = new();

    protected override async Task OnInitializedAsync()
    {
        services = await ListServices.HandleAsync();
    }
}
