@page "/tickets/delete"
@using Microsoft.EntityFrameworkCore
@using BikePOS.Models
@inject IDbContextFactory<BikePOS.Data.BikePosContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete Service Ticket</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Service Ticket</h2>
    <hr />
    @if (serviceticket is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Status</dt>
            <dd class="col-sm-10">@serviceticket.Status</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Bike</dt>
            <dd class="col-sm-10">@serviceticket.Bike?.Name</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Mechanic</dt>
            <dd class="col-sm-10">@(serviceticket.Mechanic?.Name ?? "Unassigned")</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Price</dt>
            <dd class="col-sm-10">@serviceticket.Price.ToString("C")</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Created</dt>
            <dd class="col-sm-10">@serviceticket.CreatedAt.ToString("g")</dd>
        </dl>
        <EditForm method="post" Model="serviceticket" OnValidSubmit="DeleteServiceTicket" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(serviceticket is null)">Delete</button> |
            <a href="/tickets">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private ServiceTicket? serviceticket;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        serviceticket = await context.ServiceTicket
            .Include(t => t.Bike)
            .Include(t => t.Mechanic)
            .FirstOrDefaultAsync(m => m.Id == Id);

        if (serviceticket is null)
        {
            NavigationManager.NotFound();
        }
    }

    private async Task DeleteServiceTicket()
    {
        using var context = DbFactory.CreateDbContext();
        context.ServiceTicket.Remove(serviceticket!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/tickets");
    }
}
